{% extends "base.html" %}

{% block title %}
Password Updated | MeetVerse
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-card shadow text-center">
        <div class="display-4 mb-3">
            ✅
        </div>

        <h1 class="fw-bold">
            Password Updated
        </h1>

        <p class="text-secondary mt-3">
            Your MeetVerse password has been
            changed successfully.
        </p>

        <a
            href="{% url 'login' %}"
            class="btn btn-primary btn-lg w-100 mt-3"
        >
            Login With New Password
        </a>
    </div>
</section>
{% endblock %}